.Nav{
  display: flex;
  color: white;
  border: dotted 1px green;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
  background-color: #2d2d2d;
}

.Nav ul {
  list-style-type: none;
  overflow: hidden;
}

.Nav li {
  float:left;
}


.Nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}
.Nav li a:hover {
  border-radius: 1rem;
  background-color: #1c1c1c;
}

.Login {
  display:flex;
  justify-content: right;
}